{% extends 'otree/WaitPage.html' %}
{% load staticfiles otree_tags %}
{% block title %}Please wait!{% endblock %}
{% block styles %}
    <style>
        #left_to_wait {
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block content %}

    {% comment %}
        Can be used to display how many participants are missing, if the matching logic is simple (i.e. a fixed number of players, and no types)
        Otherwise, do not use, it might show things like 5 participants are missing waiting for -1 more, for groups of 4, if the types that have arrived do not correspond to the composition of the groups
        <div><b><span id="how_many_arrived"></span>/{{ Constants.players_per_group }}</b> participants are
            already here...
        </div>
        <div>Waiting for <span id="left_to_wait"></span> more <span id="left_to_wait_people"></span>...</div>
        <br/>
    {% endcomment %}

{% endblock %}

{% block scripts %}
    {% include 'customwp/waiting_page_channel.js.html' %}
{% endblock %}
