{% extends "global/Base.html" %}
{% load otree_tags %}

{% block title %}Please read this before clicking "Accept"{% endblock %}

{% block content %}
    <p>
        This HIT is an academic experiment on decision making conducted by the researchers
        from the University of Zürich.
    </p>

    <p>
        It will require you to interact with other workers in real time.
        Some other workers may be waiting until you have completed a given task,
        before they can proceed.
        So, please be mindful of other participants and complete all tasks in a timely fashion.
        Please only accept ths HIT <b>only if you can commit to completing it</b>.
    </p>

    <p>
        After completing this HIT, you will receive your reward plus a bonus payment
        that is based on how you play the experiment.
    </p>
    <p>
        On average the experiment will take about 20 minutes to complete.
    </p>
     <p>On average your final earnings will be from 3 to
           5 US dollars.
     </p>
     <p>
       You can participate in this experiment <b>ONLY ONCE</b>.
     </p>
     <p>
       In case of any issues, please contact us via:
    <a href="mailto:chapkovskii@soziologie.uzh.ch" target="_top">chapkovskii@soziologie.uzh.ch</a>
     </p>
{% endblock %}
